<div class="container-fluid mt-5">
  <div class="row mt-5">
    <div class="col-md-6">
      <div class="card-body">
        <table class="table table-hover">
          <thead>
            <th>Producto</th>
            <th>Cantidad</th>
            <th>Precio</th>
            <th colspan="2">Acciones</th>
          </thead>
          <tbody>
            <tr *ngFor="let item of items">
              <td>{{item.product.name}}</td>
              <td><input class="form-control" type="text" [(ngModel)]="item.quantity" name="quantity" #quantity="ngModel"></td>
              <td><label for="" class="form-label">{{item.product.price}}</label></td>
              <td><button class="btn btn-success btn-outline" (click)="removeItem(item)"><span class="fa fa-plus"></span></button></td>
              <td><button class="btn btn-danger btn-outline" (click)="removeItem(item)"><span class="fa fa-minus"></span></button></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-md-6">
      <div class="preview">
        <h3>Vista previa</h3>
        <hr>
        <p>Nombre: <span id="preview-nombre"></span></p>
        <p>Email: <span id="preview-email"></span></p>
        <p>Mensaje: <span id="preview-mensaje"></span></p>
      </div>
    </div>
  </div>
</div>
